<ion-header >
  <ion-toolbar>
    <ion-title>
      KOMPAUN NON TRAFIK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../assets/icon/logo.png" alt="">

  <ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Nama Pegawai / Penguatkuasa</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br>
    <br>

    <ion-label>GPS Koordinat</ion-label>
    <ion-item>
      <ion-input placeholder="Koordinat"></ion-input>
    </ion-item>

    <ion-label>GPS Status</ion-label>
    <ion-item>
      <ion-input placeholder="Aktif / Tidak Aktif"></ion-input>
    </ion-item>

    <ion-label>Tarikh dan Masa</ion-label>
    <ion-item>
      <ion-input placeholder="Tarikh ; Masa"></ion-input>
    </ion-item>


    </ion-card-content>
    </ion-card>
</ion-content>
