*{
  font-family: 'Poppins', arial;
}

ion-header{
  ion-toolbar{
      --background: none;
      background-color: #0555B6;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-title{
          letter-spacing: 1px;
          color: white;
      }
  }
}
img{
  width: 150px;
  height: 200px;
  margin-left:19rem;
  margin-right: 19rem;
  margin-top: 2rem;
}

ion-card{
  --background: none;
  background-color: #E1E8EB;
  border: 1px solid #C9C9C9;
  width: 90%;
  margin-left: 2rem;
}

ion-card-content{
  ion-item{
      --background: none;
      ion-label{
          font-family: 'Poppins';
          color: #0555B6;
          font-size: 1.2rem;
          font-weight: 600;
          letter-spacing: 1px;
      }

      ion-input{
          color: #0555B6;
          border: 1px #0555B6;
      }
    }
  }
  ion-label{
    font-family: 'Poppins';
    color: #0555B6;
    font-size: 1.3rem;
    font-weight: 600;

    letter-spacing: 1px;
  }
